:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}

img {
  display: block;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
ul {
  padding: 0;
}
/*<-----HEADER------->*/
.header {
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  border-bottom-width: 0.2vw;
  height: 80px;
  padding-top: 0px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.header .logo-1 {
  margin-right: 90px;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.header .header-tel {
  display: flex;
  flex-direction: row;
}
.header .address {
  padding-left: 300px;
}

.add-1 {
  display: flex;
  flex-direction: row-reverse;
}
.add-2 {
  display: flex;
  flex-direction: row-reverse;
}
.add-svg-1 {
  padding-right: 10px;
}
.add-svg-2 {
  padding-right: 10px;
}
.header-tel-link {
  padding-left: 30px;
  padding-right: 10px;
  color: #757575;
}
.logo,
.logo-1 {
  font-family: var(--secondary-font);
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo {
  color: #2196f3;
}
.logo-1 {
  color: #000000;
}
.footer .logo-1 {
  color: #ffffff;
}
.logo-0 {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list,
.header-tel-link {
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.navigation-list {
  color: #212121;
}
.add-1:hover .add-svg-1 {
  fill: #2196f3;
}
.add-2:hover .add-svg-2 {
  fill: #2196f3;
}
/*<-----HEADER-END------->*/

/*<-----HERO------->*/
.heading {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 28px;
  margin: 0 auto;
}
.section-heading {
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/heading/img.png");
  background-repeat: no-repeat;
  background-size: cover;
  fill: #2f303a, 40%;
  flex-grow: 1;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heading/img.png");
}
.section-heading .heading {
  text-align: center;
  margin-bottom: 30px;
}
.section-heading .modal-btn {
  margin: 0 auto;
}
/*<-----END HERO------->*/

/*<!--DETAILS-->*/

.section-details {
  display: flex;
  padding-top: 80px;
}
.about-details-heading {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.about-details-text {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-details {
  padding-top: 95px;
  padding-bottom: 95px;
}
.section-details .about-details:not(:last-child) {
  margin-right: 30px;
}
.section-details .about-details {
  width: 270px;
}
.details-1::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-image: url("../images/svg-for-sprite/antenna.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  flex-grow: 1;
  background-image: linear-gradient(#F5F4FA), rgba(#F5F4FA), url("../images/svg-for-sprite/antenna.svg");
  margin-bottom: 30px;
}
.details-2::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-image: url("../images/svg-for-sprite/clock.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  flex-grow: 1;
  background-image: linear-gradient(#F5F4FA), rgba(#F5F4FA), url("../images/svg-for-sprite/clock.svg");
  margin-bottom: 30px;
}
.details-3::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-image: url("../images/svg-for-sprite/diagram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  flex-grow: 1;
  background-image: linear-gradient(#F5F4FA), rgba(#F5F4FA), url("../images/svg-for-sprite/diagram.svg");
  margin-bottom: 30px;
}
.details-4::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-image: url("../images/svg-for-sprite/astronaut.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  flex-grow: 1;
  background-image: linear-gradient(#F5F4FA), rgba(#F5F4FA), url("../images/svg-for-sprite/astronaut.svg");
  margin-bottom: 30px;
}

/*<!--END DETAILS-->*/

/*<!--OUR WORK-- +-- OUR COMAND --> >*/

.section-work-heading,
.section-command-heading,
.section-our-clients {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*<!--END OUR WORK-- +-- OUR COMAND --> >*/

/*<!--OUR WORK--> >*/

.section-work {
  padding-bottom: 95px;
}
.section-work .section-work-heading {
  text-align: center;
  margin-bottom: 50px;
}
.section-work .section-work-list {
  display: flex;
  width: 370px;
}
.section-work .images-work-item:not(:last-child) {
  margin-right: 30px;
}
.section-work-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: scale(1);
}
/*<!--END OUR WORK--> >*/

/*<!-- OUR COMAND -->*/

.section-command-name {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.section-command-proffesion {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-command {
  padding-top: 95px;
  padding-bottom: 95px;
  background: #f5f4fa;
}
.section-command .section-command-heading {
  text-align: center;
  margin-bottom: 50px;
}
.section-command .command-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-command .section-command-list {
  display: flex;
  width: 270px;
}
.section-command .command-item:not(:last-child) {
  margin-right: 30px;
}
.section-command .section-command-name {
  padding-top: 30px;
  padding-bottom: 10px;
}
.section-command .section-command-proffesion {
  padding-bottom: 15px;
}
/*<!--END OUR COMAND -->*/

/*------SOCIAL-----*/

.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  padding-left: 32px;
  padding-right: 30px;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-position: center;
  background-color: #ffffff;
}
.social-list-svg {
  display: flex;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social-list-link:hover {
  background-color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-svg {
  fill: #ffffff;
}
.social-list-item {
  padding-top: 15px;
  padding-bottom: 30px;
}
.social-list-item:not(:last-child) {
  padding-right: 10px;
}

/*------END SOCIAL-----*/

/*<!--OUR CLIENTS-->*/
.section-clients {
  padding-top: 95px;
  padding-bottom: 95px;
}
.section-clients .section-our-clients {
  margin-bottom: 50px;
  text-align: center;
}
.section-clients .clients-elements {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.images-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.client-svg-1 {
  width: 44px;
  height: 49px;
  fill: #afb1b8;
}
.client-svg-2 {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
}
.client-svg-3 {
  width: 41px;
  height: 43px;
  fill: #afb1b8;
}
.client-svg-4 {
  width: 80px;
  height: 42px;
  fill: #afb1b8;
}
.client-svg-5 {
  width: 59px;
  height: 47px;
  fill: #afb1b8;
}
.client-svg-6 {
  width: 89px;
  height: 45px;
  fill: #afb1b8;
}
.images-client:hover {
  border: 1px solid #2196f3;
  transform: scale(1.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images-client:hover .client-svg-1 {
  fill: #2196f3;
}
.images-client:hover .client-svg-2 {
  fill: #2196f3;
}
.images-client:hover .client-svg-3 {
  fill: #2196f3;
}
.images-client:hover .client-svg-4 {
  fill: #2196f3;
}
.images-client:hover .client-svg-5 {
  fill: #2196f3;
}
.images-client:hover .client-svg-6 {
  fill: #2196f3;
}
/*<!--END---OUR CLIENTS-->*/

/*<!-- FOOTER ----CONTACT INFO -->*/
.address-location,
.address-mail,
.address-tel {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.address-location {
  color: #ffffff;
}

.address-mail,
.address-tel {
  color: #ffffff;
}
.address {
  display: flex;
}
.footer {
  display: flex;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .address-list-item {
  display: flex;
  text-align: center;
  justify-items: center;
  margin-bottom: 9px;
}
.footer .contact-all {
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.footer .social {
  display: flex;
  width: 206px;
  justify-content: flex-start;
  text-align: start;
  flex-direction: column;
  padding-left: 70px;
  padding-top: 12px;
}

.footer .social-list-item:not(:last-child) {
  padding-right: 10px;
}
.footer .address-location {
  margin-top: 20px;
}
.footer .logo-0 {
  margin-bottom: 20px;
  padding-left: 45px;
}
.footer .address-mail,
.address-tel {
  color: rgba(255, 255, 255, 0.6);
}
.footer .social-list-link {
  background-color: #534c4c;
}
.footer .social-list-link:hover {
  background-color: #2196f3;
}
.footer .social-list-svg {
  fill: #ffffff;
}
/*<!--END FOOTER ----CONTACT INFO -->*/

/*<!--/PORTFOLIO-->*/

/*<!--PORTFOLIO----HERO-->*/

.hero {
  padding-top: 98px;
  padding-bottom: 35px;
}
.hero .modal-btn-1,
.modal-btn-1-two,
.modal-btn-1-three,
.modal-btn-1-four,
.modal-btn-1-five:not(:last-child) {
  margin-right: 8px;
}
.hero .btn-all {
  display: flex;
  justify-content: center;
}
.modal-btn-1,
.modal-btn-1-two,
.modal-btn-1-three,
.modal-btn-1-four,
.modal-btn-1-five {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid #eeeeee;
}
modal-btn-1 {
  width: 73px;
  height: 38px;
}
.modal-btn-1-two {
  width: 128px;
  height: 38px;
}
.modal-btn-1-three {
  width: 145px;
  height: 38px;
}
.modal-btn-1-four {
  width: 103px;
  height: 38px;
}
.modal-btn-1-five {
  width: 130px;
  height: 38px;
}
.modal-btn-1:hover,
.modal-btn-1:focus,
.modal-btn-1-two:hover,
.modal-btn-1-two:focus,
.modal-btn-1-three:hover,
.modal-btn-1-three:focus,
.modal-btn-1-four:hover,
.modal-btn-1-four:focus,
.modal-btn-1-five:hover,
.modal-btn-1-five:focus {
  color: #ffff;
  background: #2196f3;
  border: #2196f3;
  fill: 1px solid #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-work-item:hover .overlay {
  background: #2196f3;
  fill: 1px solid hsl(207, 90%, 54%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}
/*<!--END---PORTFOLIO----HERO-->*/

/*<!--PORTFOLIO---- Our work -->*/
.section-work-heading-1 {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.section-work-1 {
  padding-bottom: 90px;
}
.section-work-app {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-work-1 .section-work-list-1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}
.section-work-1 .section-work-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  fill: 1px solid #ffffff;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.section-work-1 .img-portf {
  width: 100%;
}
.section-work-1 .text {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
}

.overlay {
  display: flex;
  position: absolute;
  top: 0%;
  left: 0%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.text-overlay {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 322px;
}
.section-work-item {
  position: relative;
  overflow: hidden;
}

.section-work-item:hover .overlay {
  opacity: 1;
}

/*<!--END--PORTFOLIO---- Our work -->*/

.backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.section-work-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.for-img-1::before {
  position: absolute;
  display: block;
  content: "";
  width: 370px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #f5f4fa;
  transform: translate(13px, 8px);
  z-index: -2;
}
.for-img-1 {
  width: 205px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transform: translate(70px, -35px);
  z-index: 4;
}
.menu-link {
  outline: 1px solid #ffffff;
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  display: block;
  width: 50px;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  opacity: 1;
  transform: translateX(0%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover::after {
  color: #2196f3;
  opacity: 0;
  outline: 1px solid #2196f3;
}

.menu-link:hover {
  color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link-1 {
  color: #212121;
  display: flex;
  padding-top: 32px;
  padding-bottom: 30px;
  text-decoration: none;
}
.menu-link-1:hover {
  color: #2196f3;
}
.menu-link-p {
  outline: 1px solid #ffffff;
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.menu-link-p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  opacity: 1;
  transform: translateX(0%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link-p:hover::after {
  opacity: 0;
  outline: 1px solid #2196f3;
}
.menu-link-p:hover {
  color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*  ============  CONTACT FORM  ============ */

.text-footer {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.contact-form{
 width: 570px; 
 display: flex;
 justify-content: flex-start;
 text-align: start;
 flex-direction: row;
 padding-top: 20px;
}
.contact-form-wrapper {
  padding-left: 90px;
  padding-top: 12px;
}
.modal-form-btn-f {
  transform: translate(0px, 10px);
}
modal-form-field-wrapper {
  color: black;
}

.contact-form-input,
.contact-form-message {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9da4bd;
}
.modal-form-input-1 {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
}
.contact-form-input:focus,
.contact-form-message:focus {
  outline: none;
  border-bottom: 1px solid #fff;
}

.contact-form-input:focus::placeholder,
.contact-form-message:focus::placeholder {
  color: #fff;
}

.contact-form-input {
  width: 270px;
  height: 24px;
  margin-bottom: 44px;
}

.contact-form-message {
  width: 100%;
  height: 76px;
  resize: none;
  margin-bottom: 44px;
}

.contact-form-btn,
.modal-form-btn,
.modal-form-btn-f {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px;
  min-width: 160px;
  height: 40px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  background-color: #2196f3;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transform: translate(110px, 20px);
}

.modal-form-btn-f {
  background-image: url("../images/svg-for-sprite/telegram.svg");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  background-position: right center;
  background-position-x: 120px;
  height: 50px;
 
}
.footer .text-footer {
  margin-bottom: 20px;
}
/*
.contact-form-btn:hover,
.contact-form-btn:focus,
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--accent-color);
  color: #fff;
}*/

/*  ============  END CONTACT FORM  ============ */
/*============ MODAL FORM ============*/
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-form .for-contact {
  padding-bottom: 12px;
  padding-top: 52px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  height: 23px;
}

.modal-form-field,
modal-form-message {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-1 {
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  border-radius: 4px;
  color: #757575;
}
.modal-form-field {
  display: block;
  position: relative;
  width: 448px;
}
.modal-form-field:not(:first-child) {
  margin-top: 10px;
}
.close-btn:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.close-btn:hover {
  fill: #2196f3;
}
.modal-comment {
  margin-right: 50px;
  margin-left: 50px;
}

.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-input:focus + .modal-form-svg-icon {
  fill: #2196f3;
}

.modal-form-input-1 {
  padding-right: 10px;
  margin-top: 4px;
}
.modal-form-input {
  display: block;
  width: 90%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
}

.modal-form-message {
  width: 416px;
  height: 96px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  resize: none;
  margin-bottom: 40px;
  margin-top: 4px;
  margin-left: 16px;
}

.modal-form-text {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
}
.modal-form-svg-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.modal-form-policy-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-policy-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 1px solid #212121;
  margin-right: 7px;
}

.modal-form-policy-label::before:hover {
  outline: 1px solid #2196f3;
}

.modal-form-policy:checked + .modal-form-policy-label::before {
  background-color: #2196f3;
  outline: 1px solid #2196f3;
  background-image: url("../images/svg-for-sprite/icon-check.svg");
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*============ END MODAL FORM ============*/
