.contact-form-btn,
.modal-form-btn,
.modal-form-btn-f {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px;
  min-width: 160px;
  height: 40px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  background-color: #2196f3;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn-f {
  transform: translate(0px, 10px);
}
.modal-form-btn {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transform: translate(110px, 20px);
}

.modal-form-btn-f {
  background-image: url("../images/svg-for-sprite/telegram.svg");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  background-position: right center;
  background-position-x: 120px;
  height: 50px;
}
.close-btn:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.close-btn:hover {
  fill: #2196f3;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-btn {
  font-family: $main-font;
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 28px;
  margin: 0 auto;
}
